@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-BlackItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-BlackItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-BlackItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Black.eot");
  src: url("Assets/font-gilroy/Gilroy-Black.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Black.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Black.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Medium.eot");
  src: url("Assets/font-gilroy/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Medium.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Light.eot");
  src: url("Assets/font-gilroy/Gilroy-Light.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Light.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Light.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-LightItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-LightItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-LightItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Regular.eot");
  src: url("Assets/font-gilroy/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Regular.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-SemiBold.eot");
  src: url("Assets/font-gilroy/Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-SemiBold.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-SemiBold.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-ExtraBoldItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-ExtraBoldItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-ExtraBoldItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-MediumItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-MediumItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-MediumItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-SemiBoldItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-SemiBoldItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-SemiBoldItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-RegularItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-RegularItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-RegularItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Heavy.eot");
  src: url("Assets/font-gilroy/Gilroy-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Heavy.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Heavy.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-BoldItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-BoldItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-BoldItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-ExtraBold.eot");
  src: url("Assets/font-gilroy/Gilroy-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-ExtraBold.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Bold.eot");
  src: url("Assets/font-gilroy/Gilroy-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Bold.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-HeavyItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-HeavyItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-HeavyItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-Thin.eot");
  src: url("Assets/font-gilroy/Gilroy-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-Thin.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-Thin.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-ThinItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-ThinItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-ThinItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-UltraLightItalic.eot");
  src: url("Assets/font-gilroy/Gilroy-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-UltraLightItalic.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-UltraLightItalic.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Assets/font-gilroy/Gilroy-UltraLight.eot");
  src: url("Assets/font-gilroy/Gilroy-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("Assets/font-gilroy/Gilroy-UltraLight.woff2") format("woff2"),
    url("Assets/font-gilroy/Gilroy-UltraLight.woff") format("woff"),
    url("Assets/font-gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
