* {
  box-sizing: border-box;
}

:root {
  --indigo: #2352cf;
  --light-blue: #e4ebff;
  --green: #00ff73;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --medium-grey: #777777;
  --light-grey: #eeeeee;
  --extralight-grey: #f3f3f3;
}

body {
  font-family: "Lato", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--light-grey) !important;
  /* max-width: 1366px !important; */
}

a.nav-link.active {
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: var(--white) !important;
  background-color: var(--indigo) !important;
}

.background-image {
  background-color: var(--light-grey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-contain {
  background-color: var(--white);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-image-contain-left {
  background-color: var(--white);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg--dark-gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(35, 82, 207, 1) 0%,
    rgb(0, 162, 255) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(35, 82, 207, 1) 0%,
    rgb(0, 162, 255) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(35, 82, 207, 1) 0%,
    rgb(0, 162, 255) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06112E', endColorstr='#2352CF', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(35, 82, 207, 1) 0%,
    rgb(0, 162, 255) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(35, 82, 207, 1) 0%,
    rgb(0, 162, 255) 100%
  );
}

.bg--green {
  background-color: var(--green);
}

.bg--primary {
  background-color: var(--indigo);
}

.bg--light-gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    0deg,
    rgba(193, 218, 255, 0.62) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 77%,
    rgba(170, 204, 255, 0.17) 86%,
    rgba(170, 204, 255, 0.68) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(193, 218, 255, 0.62) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 77%,
    rgba(170, 204, 255, 0.17) 86%,
    rgba(170, 204, 255, 0.68) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(193, 218, 255, 0.62) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 77%,
    rgba(170, 204, 255, 0.17) 86%,
    rgba(170, 204, 255, 0.68) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C1DAFF', endColorstr='#AACCFF', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(193, 218, 255, 0.62) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 77%,
    rgba(170, 204, 255, 0.17) 86%,
    rgba(170, 204, 255, 0.68) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(193, 218, 255, 0.62) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 77%,
    rgba(170, 204, 255, 0.17) 86%,
    rgba(170, 204, 255, 0.68) 100%
  );
}

.bg--light-grey {
  background-color: var(--light-grey);
}

.bg--extralight-grey {
  background-color: var(--extralight-grey);
}

#google-map {
  background-image: url("Assets/images/google-map.png");
}

.h-3rem {
  height: 3rem !important;
}

.h-6rem {
  height: 6rem !important;
}

.h-12rem {
  height: 12rem !important;
}

.h-24rem {
  height: 24rem !important;
}

.h-34rem {
  height: 34rem !important;
}

.h-38pt5rem {
  height: 38.5rem !important;
}

.h-40rem {
  height: 40rem !important;
}
.h-screen {
  height: calc(100vh - 119.5px) !important;
}

.icon-email {
  width: 2rem;
}

.icon-phone {
  width: 2rem;
}

.icon-user {
  width: 1.8rem;
}

.input-field {
  outline: 0;
}

.input-field:focus {
  outline: 0;
}
/* 
.marquee-angel-caption-normal 
} */

#mentor-logo-1 {
  background-image: url("Assets/mentors/Caret.png");
}

#mentor-logo-2 {
  background-image: url("Assets/mentors/Blume.png");
}

#mentor-logo-3 {
  background-image: url("Assets/mentors/Eximius.png");
}

#mentor-logo-4 {
  background-image: url("Assets/mentors/Sunicon.png");
}

#mentor-logo-5 {
  background-image: url("Assets/mentors/Super-Morpheus.png");
}

#mentor-logo-6 {
  background-image: url("Assets/mentors/Dexter-Angels.png");
}

#mentor-logo-7 {
  background-image: url("Assets/mentors/91-Ventures.png");
}

#mentor-logo-8 {
  background-image: url("Assets/mentors/Misfits.png");
}

#mentor-logo-9 {
  background-image: url("Assets/mentors/Venture-Garage.png");
}

#mentor-logo-10 {
  background-image: url("Assets/mentors/fareye.png");
}

#mentor-logo-11 {
  background-image: url("Assets/mentors/mckinsey.png");
}

#mentor-logo-12 {
  background-image: url("Assets/mentors/snapdeal.png");
}

#mentor-logo-13 {
  background-image: url("Assets/mentors/landmark-group.png");
}

#mentor-logo-14 {
  background-image: url("Assets/mentors/bain.png");
}

#mentor-logo-15 {
  background-image: url("Assets/mentors/myntra.png");
}

#mentor-logo-16 {
  background-image: url("Assets/mentors/cred.png");
}

#mentor-logo-17 {
  background-image: url("Assets/mentors/bain-plus.png");
}

#mentor-logo-18 {
  background-image: url("Assets/mentors/ubiquity.png");
}

#omnivio-demo-request {
  background-image: url("Assets/images/demo-1.png");
}

#omnivio-product-animation {
  background-image: url("Assets/videos/omniview-product.gif");
  height: 35rem;
  background-position: 50% 60% !important;
}

.page-container {
  max-width: 1200px !important;
  margin: auto !important;
  background: #ffffff;
}
/* 
#product-hero-feature {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#profile-aj {
  background-image: url("Assets/images/profile-aj.jpg");
}

#profile-team1 {
  background-image: url("Assets/images/team-1.jpg");
}

#profile-team2 {
  background-image: url("Assets/images/team-2.jpg");
}

#profile-team3 {
  background-image: url("Assets/images/team-3.jpg");
}

#profile-sb {
  background-image: url("Assets/images/profile-sb.jpg");
}

#profile-cl-1 {
  background-image: url("Assets/images/profile-cl-1.jpeg");
}

#profile-cl-2 {
  background-image: url("Assets/images/profile-cl-2.jpg");
}

#profile-cl-3 {
  background-image: url("Assets/images/profile-cl-3.jpg");
}

.reverse.navbar-toggler {
  border-color: #ffffff !important;
}

.reverse.navbar-toggler:focus {
  outline: #ffffff !important;
}

.rounded--top-4 {
  border-radius: 0.75rem 0.75rem 0 0;
}
/* 
section {
  max-width: 1366px !important;
  margin: auto !important;
} */

.separator {
  background: -moz-linear-gradient(
    -938.32% 24.33% -45deg,
    rgba(0, 82, 207, 1) 0%,
    rgba(3, 250, 109, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 82, 207, 1) 0%,
    rgba(3, 250, 109, 1) 100%
  );

  background: -o-linear-gradient(
    -45deg,
    rgba(0, 82, 207, 1) 0%,
    rgba(3, 250, 109, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 82, 207, 1) 0%,
    rgba(3, 250, 109, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 82, 207, 1) 0%,
    rgba(3, 250, 109, 1) 100%
  );
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 2px;
  height: 3.5rem;
}

.sq-6rem {
  height: 6rem !important;
  width: 6rem !important;
}

textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

.text--primary {
  color: var(--indigo);
}

.w-3rem {
  width: 3rem !important;
}

.w-6rem {
  width: 6rem !important;
}

.w-10 {
  width: 10% !important;
}

.w-13 {
  width: 13% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-22 {
  width: 22% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}
